@model BORIS.Models.ContactViewModel


<form asp-controller="Contact" asp-action="ContactForm" method="post" class="contact-form">
	<h2>Kontaktieren Sie uns</h2>
	
	<!-- Name -->
	<div class="form-field">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-input" />
		<span asp-validation-for="Name" class="form-error"></span>
	</div>
	<!-- Email -->
	<div class="form-field">
		<label asp-for="EMail" class="form-label"></label>
		<input asp-for="EMail" class="form-input" />
		<span asp-validation-for="EMail" class="form-error"></span>
	</div>
	<!-- Preferred Specialisation -->
	<div class="form-field">
		<label asp-for="PreferredSpecialisation" class="form-label"></label>
		<select asp-for="PreferredSpecialisation" 
			asp-items=@SpecialisationList.SelectionItems
			></select>
	</div>
	<!-- Location -->
	<div class="form-field">
		<label asp-for="PreferredLocation" class="form-label"></label>
		<select asp-for="PreferredLocation" asp-itemid=""></select>
	</div>
	<!-- Todo: consent checkmark -->
	<!-- Send button -->
	<button type="submit" class="bigbutton white-on-red">Absenden</button>
</form>