@{
    ViewData["Title"] = "Umschulungen";
}

<div class="text-center">

    <section class="container-fluid info-block">
        <h2>Berufsfeld Fachinformatiker*in</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h3>Fachrichtungen:</h3>
        <ul>
            <li>Systemintegration</li>
            <li>Anwendungsentwicklung</li>
            <li>Daten- und Prozessanalyse</li>
        </ul>
    </section>

    <section class="container-fluid info-block">
        <h2>Fachinformatiker*in Anwendungsentwicklung</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <img src="~/media/specialisations/fiae-stockimg3.jpg" class="img-fluid float-right" />
    </section>

    <section class="container-fluid info-block">
        <h2>Fachinformatiker*in Systemintegration</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <img src="~/media/specialisations/fisi-stockimg2.jpg" class="img-fluid float-right" />
    </section>

    <section class="container-fluid info-block">
        <h2>Fachinformatiker*in Daten- und Prozessanalyse</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <img src="~/media/specialisations/fidpa-stockimg.jpg" class="img-fluid float-right" />
    </section>

</div>
