<div class="container col">
	<a asp-controller="Navi" asp-action="LoadProgramOverview"
	   asp-route-programKeys="Umschulungen"
	   data-ajax="true" data-ajax-update="#ProgramContainer" css-underline="none">
		<div class="card white-on-red text-center p-2 py-4">
			<h3>Umschulung</h3>
			<h4>Verkürzte Ausbildung - Berufsabschlüsse in der IT</h4>
			<p>Dauer: 2 Jahre</p>
			Geeignet für:
			<ul>
				<li>Fachkräfte aus anderen Bereichen, die in die IT wechseln möchten.</li>
				<li>Fachkräfte aus dem Ausland, die einen in Deutschland anerkannten Abschluss erwerben möchten.</li>
				<li>Studienabbrecher und Quereinsteiger</li>
			</ul>
		</div>
	</a>
</div>

<div class="container col">
	<a asp-controller="Navi" asp-action="LoadProgramOverview"
	   asp-route-programKeys="Weiterbildungen"
	   data-ajax="true" data-ajax-update="#ProgramContainer" css-underline="none">
		<div class="card white-on-red text-center px-2 py-4">
			<h3>Weiterbildungen</h3>
			<p></p>
			<p>Dauer:X-Y Monate</p>
			Geeignet für:
			<ul>
				<li>IT-Fachkräfte, die zusätzliche Qualifikationen erwerben wollen</li>
				<li>Studienabgänger, die den Einstieg in eine Spezialisierung suchen</li>
				<li></li>
			</ul>
			Infos:
			<ul>
				<li></li>
			</ul>
		</div>
	</a>
</div>