:root {
    --base-red: #9f2d2d;
    --text-white: #fff;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

.white-on-red {
    background-color: var(--base-red);
    color: var(--text-white);
}

.white-on-red a {
    color: var(--text-white)
}

.navbar-heuer {
    display: flex;
    padding-left: 20 px;
    padding-right: 20px;
    height: 3em;
    position: sticky;
}

    .navbar-heuer a {
        transition: all .3s ease;
        letter-spacing: 1px;
    }

.navbar-logo {
    height: 75px;
}

@media screen and (max-height: 600px) {
    navbar-logo {
        height: 30px;
    }
}

img {
    max-height: 300px;
}

.info-block {
    padding-top: 3em;
    padding-bottom: 2em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3em;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}